---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import RecipeSearch from "../components/home/RecipeSearch.astro";
import RecipeCard from "../components/home/RecipeCard.astro";

const recipes = await getCollection("recipes");

const filters = [...new Set(recipes.map((recipe) => recipe.data.category))];
---

<Layout title="El meu receptari personal" showBackButton={false}>
  <main>
    <header>
      <span>Benvingut al meu</span>
      <h1>Receptari personal</h1>
    </header>

    <RecipeSearch filters={filters} />

    <ul>
      {
        recipes.map((recipe) => (
          <li>
            <RecipeCard recipe={recipe} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 48px;
    padding-top: 24px;

    @media (width <= 850px) {
      padding: 24px;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 42px;
  }

  header span {
    color: #5f5e5e;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 24px;
  }
</style>
