---
import BackIcon from "./icons/Back.astro";
import ShareIcon from "./icons/Share.astro";

interface Props {
  isHomeScreen: boolean;
  logoText?: string;
}

const { isHomeScreen, logoText = "receptari" } = Astro.props;
---

<header class={isHomeScreen ? "" : "fade-in"}>
  <nav aria-label="Navegació principal" class={isHomeScreen ? "home" : ""}>
    {
      !isHomeScreen && (
        <a href="/a-foc-lent/" class="back" aria-label="Tornar a l'inici">
          <BackIcon />
        </a>
      )
    }
  </nav>
  <span class="logo desktop">receptari</span>
  <span class="logo mobile">{logoText}</span>
  {
    !isHomeScreen && (
      <button id="share-btn">
        <ShareIcon />
      </button>
    )
  }
</header>

<script>
  document.querySelector("#share-btn")?.addEventListener("click", async () => {
    const pageUrl = window.location.href;
    const pageTitle = document.title;

    if (navigator.share) {
      await navigator.share({
        title: pageTitle,
        text: `Recepta de ${pageTitle}`,
        url: pageUrl,
      });
    }
  });
</script>

<style>
  header {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @media (width <= 850px) {
      height: 60px;
    }
  }

  nav {
    display: contents;
  }

  nav.home {
    display: block;
    text-align: center;
  }

  button {
    justify-self: end;
    display: none;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
    -webkit-appearance: none;
    color: #000;

    @media (display-mode: standalone) {
      display: flex;
    }
  }

  .back {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
    color: black;

    @media (width <= 850px) {
      background-color: var(--bg-color);
      /*border: 1px solid #bebebe;*/
    }
  }

  .fade-in {
    @media (width <= 850px) {
      position: fixed;
      background-color: var(--bg-color);
      top: 0;
      z-index: 3;

      /*transform: translate(-100%); */
      background-color: transparent;
      color: transparent;
      /* Animation using the view timeline of the h2 */
      animation: reveal-header linear;

      animation-timeline: --header-trigger;

      /* The animation only plays while the h1 is exiting the viewport */
      animation-range: exit 1% exit 10%;
      /* Keep final state (visible) after the h1 has disappeared */
      animation-fill-mode: forwards;
      animation-duration: 500ms;
    }
  }

  /* Keyframes: from hidden to visible */
  @keyframes reveal-header {
    0% {
      color: transparent;
      background-color: transparent;
    }
    100% {
      color: black;
      background-color: var(--bg-color);
    }
  }

  button:active,
  button:hover,
  .back:hover,
  .back:active {
    background-color: #e3e3e3;
  }

  .logo {
    font-family: monospace;
    font-size: 26px;
    font-weight: 400;

    @media (width <= 850px) {
      font-size: 20px;
    }
  }
</style>
